#topbar li {
    list-style: none;
    float: left;
    margin: 0 5px;
    padding: 0;
}

.carousel-item {
    border-radius: 5px;
   width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;

}

.carousel-caption{
    background-color: rgba(0, 0, 0, .7);
    right: 0%;
    left: 0%;
    padding: 10px;
   
}

#mainJumbo {
    background-size: cover;
    color: white;
    background-image: url(../img/places/StarCityOver.jpg);
}

.jumboWrap {
    background: rgba(0, 0, 0, .7);
    padding: inherit;
}

.card {
    color: white;
    background: rgba(0, 0, 0, .8);
}

.cardWrap {
    border-style: inherit;
    border-color: rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: white;
}