#topbar li {
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0;
}

.carousel-item {
    border-radius: 5px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;

}

.carousel-caption {
    background-color: rgba(0, 0, 0, .7);
    right: 0%;
    left: 0%;
    padding: 10px;

}

#mainJumbo {
    background-size: cover;
    color: white;
    background-image: url(../img/places/StarCityOver.jpg);
}

.jumboWrap {
    background: rgba(0, 0, 0, .7);
    padding: inherit;
    margin-top: 50px;
}

.card {
    color: white;
    background: rgba(0, 0, 0, .8);
}

.cardWrap {
    padding-left: 0mm;
    padding-right: 0mm;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: inherit;
    border-color: rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: white;
}



.textWrap {
    margin-top: 80px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, .7);
    border-style: solid;
}
.textWrap img{
   margin-top: 1rem;
   margin-bottom: 1rem;
    border-style: solid;
    border-radius: 2pt;
    border-color: #c62828;

}

body {
    background-color: gray;
}

.flex-center{
    padding-top: 1rem;
    padding-bottom: 1rem
}

.navbar{
    padding:  0rem 1rem;
}
.navbar-brand img{
    width: 3rem;
    
}

.textWrap h3, .textWrap h1, th{
    color: #c62828;

}
.textWrap ul li{
   padding-bottom:  1rem;

}

.ficha {
    border-radius: 10px;
    border-style: solid;
    padding: 16px;
    background-color: rgba(0, 0, 0, .7);
    
  }
  
  .ficha img {
   
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .AttTable{
      border-spacing: 3rem;
      text-align: center;
  }
  
  .AttTable th, .AttTable td{
      border-style: solid;
      border-color: #c62828;
      border-width: 3px;
      padding: 5px;
      color: white;
  }

  .AttTable th{
      font-weight: bold;
      background-color: #c62828
  }

  